.home {
  width: 70%;
  display: flex;
  justify-content: center;
}

.card {
  background-color: white;
  margin: 0 4px;
  box-shadow: 0 0 3px gray;
  border-radius: 2px;
}

.profile {
  width: 25%;
  height: 400px;
}

.tweets {
  width: 50%;
  min-height: 600px;
  height: fit-content;
}

.tweetDiv {
  border-bottom: 1px solid lightgray;
}

.otherInfo {
  padding: 10px;
  width: 25%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.footer {
  background-color: none;
  border: none;
  color: gray;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  font-weight: 100;
}

.footerButton {
  padding: 0;
  margin: 0 10px;
}